/* Defaults */
:root {
	/* --font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace; */
	--font-family: 'Poppins', sans-serif;
	--font-family-monospace: 'Overpass Mono', DejaVu Sans Mono, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--color-black: 	#000;
	--color-yellow: #FFF59F;
	--color-purple: #A7A6FF;
	--color-pink: #FFA6F6;
	--color-blue: #A6FAFF;
	--color-green: #B8FF9F;
	--color-orange: #FFC29F;
	--color-red: #FF9F9F;

	--background-body-color: #FFF9ED;

	--text-color: var(--color-black);
	--text-color-link: var(--color-black);
	--text-color-link-active: var(--text-color-link);
	--text-color-link-visited: var(--text-color-link);

	--border-with: 2px;
	--border-with-lg: 4px;
	--border-with-xl: 6px;

	--syntax-tab-size: 2;
}

/* Utils */
.d-flex {
    display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-center {
	justify-content: center;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap {
	flex-wrap: wrap;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
		max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
		max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
		max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .container {
		max-width: 1140px;
    }
}


/* Webfonts */
/* overpass-mono-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 300;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* overpass-mono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* overpass-mono-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 600;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('../webfonts/poppins/poppins-v20-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* poppins-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: url('../webfonts/poppins/poppins-v20-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../webfonts/poppins/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* bebas-neue-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/bebas-neue/bebas-neue-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/bebas-neue/bebas-neue-v14-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}



/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--background-body-color);
}
html {
	overflow-y: scroll;
	font-size: 62.5%;
}
body {
	height: 100vh;
}

h1, h2, h3 {
	font-family: var(--font-family);
	margin-top: 25px;
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3.2rem;
}
h3 {
	font-size: 2.8rem;
}
.title {
	position: relative;
	z-index: 3;
	display: inline-block;	
}
.title::before {
	content: ' ';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: -15px;
	bottom: -10px;
	z-index: -1;
}

.title-yellow::before {
	background-color: var(--color-yellow);
}
.title-orange::before {
	background-color: var(--color-orange);
}
.title-blue::before {
	background-color: var(--color-blue);
}
.title-purple::before {
	background-color: var(--color-purple);
}
.title-pink::before {
	background-color: var(--color-pink);
}
.title-green::before {
	background-color: var(--color-green);
}
.title-red::before {
	background-color: var(--color-red);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.btn {
	border: var(--border-with) solid var(--color-black);
	padding: 1rem 2.8rem;
	text-decoration: none;
	color: var(--text-color) !important;
	font-family: var(--font-family-monospace);
	font-weight: bold;

}
.btn-yellow {
	background-color: var(--color-yellow);
}
.btn-orange {
	background-color: var(--color-orange);
}
.btn-red {
	background-color: var(--color-red);
}
.btn-purple {
	background-color: var(--color-purple);
}
.btn-blue {
	background-color: var(--color-blue);
}
.btn-pink {
	background-color: var(--color-pink);
}
.btn-green {
	background-color: var(--color-green);
}

main {
	padding: 1.5rem;
}

.links-nextprev {
	list-style: none;
	border-top: var(--border-with) solid var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	border-bottom: var(--border-with) solid var(--color-black);
}

header:after {
	content: "";
	display: table;
	clear: both;
}
.home {
	border-right: var(--border-with) solid var(--color-black);
	padding: 2.5rem;
	text-align: center;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-link {
	font-size: 3.2rem; /* 16px /16 */
	font-weight: 700;
	font-family: 'Bebas Neue';
	text-decoration: none;
	color: var(--color-black);
}
.home-link:hover {
	text-decoration: none;
}

/* Footer */
footer {
	border-top: var(--border-with) solid var(--color-black);
	border-bottom: var(--border-with) solid var(--color-black);
}
.footer, .header {
	border-right: var(--border-with) solid var(--color-black);
	border-left: var(--border-with) solid var(--color-black);
}
.footer {
	padding: 2.5rem;
} 

/* Nav */
nav {
	width: 100%;
}
.nav {
	display: flex;
	justify-content: right;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Block Cards */
.block-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}

.card {
	border: var(--border-with) solid var(--color-black);
	padding: 15px;
}

/* Posts list */
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	/* counter-increment: start-from -1; */
	margin-bottom: 1em;
}

.postlist-date {
	font-size: 1.3rem; /* 13px /16 */
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.9rem; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1.6rem;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 2rem;
}
