/* Defaults */
:root {
	/* --font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace; */
	--font-family: 'Poppins', sans-serif;
	--font-family-monospace: 'Overpass Mono', DejaVu Sans Mono, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--color-black: 	#000;
	--color-yellow: #FFF59F;
	--color-purple: #A7A6FF;
	--color-pink: #FFA6F6;
	--color-blue: #A6FAFF;
	--color-green: #B8FF9F;
	--color-orange: #FFC29F;
	--color-red: #FF9F9F;

	--background-body-color: #FFF9ED;

	--text-color: var(--color-black);
	--text-color-link: var(--color-black);
	--text-color-link-active: var(--color-gray-90);
	--text-color-link-visited: var(--color-gray-90);

	--border-with: 2px;
	--border-with-lg: 4px;
	--border-with-xl: 6px;

	--syntax-tab-size: 2;
}

/* Utils */
.d-flex {
    display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-center {
	justify-content: center;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap {
	flex-wrap: wrap;
}

.d-inline-block {
	display: inline-block;
}

.container, .container-content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	position: relative;
	z-index: 2;
}


@media (min-width: 576px) {
    .container {
		max-width: 540px;
    }
	.container-content {
		max-width: 440px;
	}
}
@media (min-width: 768px) {
    .container {
		max-width: 720px;
    }
	.container-content {
		max-width: 620px;
	}
}

@media (min-width: 992px) {
    .container {
		max-width: 960px;
    }
	.container-content {
		max-width: 860px;
	}
}
@media (min-width: 1200px) {
    .container {
		max-width: 1140px;
    }
	.container-content {
		max-width: 1040px;
	}
}


/* Webfonts */
/* overpass-mono-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 300;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* overpass-mono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* overpass-mono-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Overpass Mono';
	font-style: normal;
	font-weight: 600;
	src: url('../webfonts/overpass-mono/overpass-mono-v16-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/overpass-mono/overpass-mono-v16-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	src: url('../webfonts/poppins/poppins-v20-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

  /* poppins-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/poppins/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: url('../webfonts/poppins/poppins-v20-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../webfonts/poppins/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/poppins/poppins-v20-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* bebas-neue-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/bebas-neue/bebas-neue-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('../webfonts/bebas-neue/bebas-neue-v14-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}



/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	font-size: 2rem;
	color: var(--text-color);
	background-color: var(--background-body-color);
}
html {
	overflow-y: scroll;
	font-size: 62.5%;
}
/* body {
	height: 100vh;
} */

h1, h2, h3 {
	font-family: var(--font-family);
}

h1 {
	font-size: 4.2rem;
	margin: 0;
	padding: 85px 0;
	max-width: 800px;
}
h1 span {
	background: var(--background-body-color);
  }
.header-homepage .title {
	padding-bottom: 15px;
	font-size: 5rem;
}
.header-homepage .subtitle {
	font-size: 1.8rem;
	font-style: italic;
	margin: 0;
	margin-top: -20px;
}
h2 {
	font-size: 3.2rem;
}
.header-homepage h2 {
	margin-top: 0;
}
h3 {
	font-size: 2.8rem;
}

img {
	max-width: 100%;
	height: auto;
}

.header-homepage {
	padding-bottom: 100px;
}

.header-homepage .presentation {
	max-width: 90%;
}

@media (max-width: 576px) {
	.header-homepage {
		padding-top: 250px;
	}
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.overflow-hidden {
	overflow: hidden;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

.list-links {
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
	margin-top: 30px;
	margin-bottom: 60px;
}

.list-element {
	max-width: 14px;
	margin-right: 8px;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.btn {
	border: var(--border-with) solid var(--color-black);
	padding: 1rem 2.8rem;
	text-decoration: none;
	color: var(--text-color) !important;
	font-family: var(--font-family-monospace);
	font-weight: bold;
	box-shadow: -8px 8px 0px 0px var(--color-black);
}
.btn:hover {
	box-shadow: -4px 4px 0px 0px var(--color-black);
}

.btn-yellow {
	background-color: var(--color-yellow);
}
.btn-orange {
	background-color: var(--color-orange);
}
.btn-red {
	background-color: var(--color-red);
}
.btn-purple {
	background-color: var(--color-purple);
}
.btn-blue {
	background-color: var(--color-blue);
}
.btn-pink {
	background-color: var(--color-pink);
}
.btn-green {
	background-color: var(--color-green);
}

.illu-bg {
	background-repeat: no-repeat;
	background-position: right 5% top -70px;
	background-size: 500px;
	position: absolute;
	content: ' ';

	width: 100%;
	height: 100%;
	z-index: 1;
}

.illu-bg-home {
	background-image: url('../img/illustrations/bg-homepage.png');
}
.illu-bg-list {
	background-image: url('../img/illustrations/bg-list.png');
}
.illu-bg-content {
	background-image: url('../img/illustrations/bg-content-blog.png');
}
.illu-bg-page {
	background-image: url('../img/illustrations/bg-content-page.png');
}


.illu-bg-grid {
	background-image: url('../img/illustrations/bg-grid.png');
	background-repeat: no-repeat;
	background-position: left 0px bottom 80px;
}



@media (max-width: 576px) {
	.illu-bg {
		background-position: right -120px top -15px;
	}
}
@media (min-width: 1700px) {
	.illu-bg {
		background-position: right 10% top -70px;
	}
}
.links-nextprev {
	list-style: none;
	border-top: var(--border-with) solid var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
	padding: 1px 3px;
	line-height: 4rem;
	border: 2px solid #00000021;
}


/* Header */
header {
	border-bottom: var(--border-with) solid var(--color-black);
}

header:after {
	content: "";
	display: table;
	clear: both;
}
.home {
	border-right: var(--border-with) solid var(--color-black);
	padding: 2.5rem;
	text-align: center;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-link {
	font-size: 3.2rem; /* 16px /16 */
	font-weight: 700;
	font-family: 'Bebas Neue';
	text-decoration: none;
	color: var(--color-black);
}
.home-link:hover {
	text-decoration: none;
}

/* Nav */
nav {
	width: 100%;
}
.nav {
	display: flex;
	justify-content: right;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
	padding: 10px 20px;
	/* text-transform: uppercase; */
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	font-weight: 700;
}

.toggle-responsive {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	display: none;
}

@media (max-width: 768px) {
	.toggle-responsive {
		display: block;
	}
	#mainNav {
		display: none;
	}
	.container-nav {
		position: static;
	}

	.main-nav-open {
		display: block !important;
		width: 100vw;
		height: 100vh;		
		background-color: var(--background-body-color);
		position: absolute;
		top: 91px;
		left: 0;
		z-index: 80;
		padding: 25px;
		text-align: center;
	}
	.nav {
		flex-wrap: wrap;
	}
	.nav .nav-item {
		width: 100%;
	}
	.nav a {
		padding: 15px 25px;
	}
}

.btn-burger {
	width: 42px; 
	height: 50px; 
	background-color: var(--background-body-color); 
	border: none; 
	padding: 0px; 
	margin: 0px; 
	margin-right: 25px;
	background-color: transparent;	
}
	
.btn-burger span { 
	display: block; 
	background-color: var(--color-black); 
	height: 4px; 
	border-radius: 4px; 
	margin: 6px 3px; 
	position: relative; 
	transition: all .2s linear; 
}
	
.burger-open .top {
	transform: rotate(45deg); 
	top: 9px;
}
.burger-open .middle {
	opacity: 0;
}
.burger-open .bottom {
	transform: rotate(-45deg); 
	top: -11px;
}

.social-links a {
	padding: 5px 15px;
}

/* Posts list */
.postlist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	list-style: none;
	padding: 0;
	margin-bottom: 55px;
}
@media (max-width: 992px) {
	.postlist {
		grid-template-columns: 1fr;
	}
}
.card-article {
	border: var(--border-with) solid var(--color-black);
	background-color: var(--background-body-color);
	box-shadow: -8px 8px 0px 0px var(--color-black); 
}
.card-header {
	border-bottom: var(--border-with) solid var(--color-black);
	padding: 5px;
	padding-right: 80px;
	background-image: url('../img/picto-card.png');
	background-position: center right 10px;
	background-repeat: no-repeat;
}
.card-content {
	height: 160px;
	display: flex;
	align-items: center;
}
.card-content .postlist-link {
	font-size: 3rem;
	padding: 1.5rem;
	text-decoration: none;
	font-weight: bold;
}
@media (max-width: 576px) {
	.card-content .postlist-link {
		font-size: 2.6rem;
	}
}
.postlist-date {
	padding-right: 5px;
	border-right: 1px solid var(--color-black);
}

.postlist-date, .post-tag {
	font-family: var(--font-family-monospace);
	font-size: 1.8rem; /* 13px /16 */
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: 1.9rem; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

.img-article p {
	margin: 8px;
	margin-top: 0;
}
.img-article img {
	border-bottom: var(--border-with) solid var(--color-black);
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	text-decoration: none;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1.8rem;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 2.2rem;
}

/* Content page */
.content-page {
	border-top: var(--border-with-lg) solid var(--color-black);
	border-right: var(--border-with-lg) solid var(--color-black);
	background-color: var(--background-body-color);
	padding: 35px 0;
}
.content-tag {
	display: inline-block;
	background-color: var(--background-body-color);
}

/* Footer */
footer {
	border-top: var(--border-with) solid var(--color-black);
	border-bottom: var(--border-with) solid var(--color-black);
	margin-top: 65px;
	background-color: var(--background-body-color);
	position: relative;
	z-index: 5;
}
.footer, .header {
	border-right: var(--border-with) solid var(--color-black);
	border-left: var(--border-with) solid var(--color-black);
}
.footer {
	padding: 2.5rem;
} 
.credits {
	font-family: var(--font-family-monospace);
}