---
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
numberOfLatestPostsToShow: 4
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2><span>Les derniers articles</span></h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<div><a class="btn" href="/blog/">Voir tous les articles</a></div>
{% endif %}

