---
permalink: /tags/
layout: layouts/home.njk
eleventyComputed:
  title: Les catégories
---
<h1>Par ici pour voir toutes les catégories</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
