---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Catégorie “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1>Les posts qui parlent de <span>{{ tag }}</span></h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p><a class="btn" href="/tags/">Toutes les catégories</a></p>
