---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/list.njk
eleventyComputed:
  title: Catégorie “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1><span>Les articles "{{ tag }}"</span></h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<div><a class="btn" href="/tags/">Toutes les catégories</a></div>
