{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ul reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="card-article postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<div class="card-header">
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd/MM/yy") }}</time>
			{% for tag in post.data.tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %} <span class="post-tag"> - </span>{% endif %}
			{% endfor  %}
		</div>
		<div class="card-content">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		</div>
	</li>
{% endfor %}
</ul>
