<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />

		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

	</head>
	<body>
		<a href="#main" class="visually-hidden">Skip to main content</a>

		<header role="banner">
			<div class="container container-nav">
				<div class="d-flex header">
					<div class="home">
						<a href="/" class="home-link" alt="logo homepage link" tabindex="-1">Blog de Vanessa</a>
					</div>
					<button id="burger" class="btn-burger toggle-responsive" tabindex="0" title="menu">
						<span class="top"></span>
						<span class="middle"></span>
						<span class="bottom"></span>
					</button>
					<div id="mainNav">
						<nav role="navigation">
							<h2 class="visually-hidden">Top level navigation menu</h2>
							<ul class="nav mobile-nav">
							{%- for entry in collections.all | eleventyNavigation %}
								<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
							{%- endfor %}
							</ul>
						</nav>
					</div>
				</div>				
			</div>

		</header>

		<main role="main" id="main" tabindex="-1">
			{{ content | safe }}
		</main>

		<footer role="contentinfo">
			<div class="container footer">
				<div class="social-links">
					<a href="/feed/feed.xml">RSS</a>
					<a href="https://piaille.fr/@vanessaF" target="_blank" rel="nofollow">Mastodon</a>
					<a href="https://codepen.io/vanessaFayard" target="_blank" rel="nofollow">CodePen</a>
					<a href="https://www.drupal.org/u/vanessafayard" target="_blank" rel="nofollow">Drupal</a>
				</div>
				<div class="credits">
					<p>Copyright  © 2025 - Vanessa Fayard</p>
					<p>Site généré par Eleventy</p>
				</div>
			</div>
		</footer>


	{% js %}{% include "public/js/script.js" %}{% endjs %}
	<script src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
