---
layout: layouts/base.njk
---

<div class="illu-bg illu-bg-page"></div>
<div class="container">
    <div class="container-content">
        <h1><span>{{ title }}</span></h1>
    </div>
    <div class="content-page">
        <div class="container-content">
            {{ content | safe }}
        </div>
    </div>
</div>

