---
layout: layouts/base.njk
---

<div class="illu-bg illu-bg-home"></div>
<div class="main">
    <div class="container">
        <div class="container-content">
            <div class="header-homepage">
                <h1 class="title" aria-describedby="detail-homepage"><span>Le blog de Vanessa</span></h1>
                <p class="subtitle" id="detail-homepage"><span>(en attendant de lui trouver un meilleur nom)</span></p>
                <h2><span>Développeuse Web Drupal</span></h2>
                <div class="presentation">
                    <p>
                        Ici, je parle de web, de design, d'accessibilité web, de Drupal, et parfois de moi. 
                        Je tiens particulièrement à la catégorie <pèle-mêle href="/tags/pele-mele/" target="_blank" ref="nofollow">"pèle-mêle"</a> 
                        ou je partage mes coups de coeur du mois en tout genre.
                    </p>
                </div>
                </div>
            </div>
            {{ content | safe }}
        </div>
    </div>
</div>


