---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

<div class="illu-bg illu-bg-content"></div>
<article>
	<div class="container">
		<div class="container-content">
			<h1><span>{{ title }}</span></h1>
		</div>
		<div class="content-tag">
			<time class="postlist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("dd/MM/yy") }}</time>
			{% for tag in post.data.tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
			<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %} <span class="post-tag"> - </span>{% endif %}
			{% endfor  %}
		</div>
		<div class="content-page">
			<div class="container-content">
				{{ content | safe }}
			</div>
		</div>
	</div>
</article>





